.scoreboard{
	max-width: 600px;
	margin: auto;
	text-align: center;
	border: 2px solid #17331F;
	overflow: hidden;
}
.team{
	float: left;
	width:45%;
}

.team.Boston{
	background-color: green;
}
.team.Cleveland{
	background-color:maroon;
}