<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
    	console.log(theBand)

    </script>
  </head>
  <body>

  	<h1>Motley Crue Members</h1>
  	<table border=1 id="my-table">
  		<thead>
  			<tr>
  				<th>Name</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% theBand.forEach((member)=>{ %>
	  			<tr>
	  				<td><%=member%></td>
	  			</tr>
  			<% }) %>
  		</tbody>
  	</table>

  </body>
</html>
