<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Atlanta Teams</h1>
	<h2><%= atlTeams[0] %></h2>

	<ul>
		<% atlTeams.forEach((team)=>{ %>
			<li><%= team %></li>
		<% }) %>
	</ul>

</body>
</html>